.pokemon-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
    max-width: 55%;
    border: solid 2px #6b6097;
    border-radius: 20px;
    padding: 30px;
}
