.normal{
  background-color: #a9a978;
}
.fighting{
  background-color: #c12039;
}
.flying{
  background-color: #a991f0;
}
.poison {
 background-color: #a041a1;
}
.ground{
  background-color: #e0c169;
}
.rock{
  background-color: #b9a039;
}
.bug{
  background-color: #a9b821;;
}
.ghost{
  background-color: #715899;
}
.steel{
  background-color: #b8b9d1;
}
.fire{
  background-color:  #f18130;
}
.water{
  background-color: #6990f1;
}
.grass{
  background-color:#78c951;
}
.electric{
  background-color: #f8d131;
}
.psychic{
  background-color: #f95889;
}
.ice{
  background-color: #99d9d8;
}
.dragon{
  background-color: #7039f9;
}
.dark{
  background-color: #705848;
}
.fairy{
  background-color: #ee98ad;
}
