<div class="pokemon-card" (click)="openDrawer(pokemon)">
    <div class="pokemon-card-img" [ngStyle]="{'background-color': pokemon.color}">
        <img [src]="pokemon.img">
    </div>
    <div class="footer-card">
      <div class="text-card">
        <p class="poke-id">
          Nº {{ pokemon.id}}
        </p>
        <p class="poke-name">
            # {{ pokemon.name}}
        </p>
      </div>
      <div  class="type-div">
        <div *ngFor="let type of pokemon.types; index as i" [ngClass]="pokemon.types[i] " class="type-button">
          {{ pokemon.types[i]}}
        </div>
      </div>
    </div>
</div>
