.main-page h1, .main-page h3{
    align-items: center;
    text-align: center;
    color: #6b6097; 
    line-height: 0.5; 
}
.main-page h3{
    line-height: 1;

}
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-bar {
    display: flex;
    background-color: #6b6097;
    width: 50%;
    height: 30px;
    border-radius: 0.5rem;
    border: 0.2px solid #6b6097;
}
.search-bar input{
    width: 90%;
    min-width: 120px;
    border-radius: 0.5rem;
    border: none;
}
.search-bar button{
    width: 10%;
    background-color: #6b6097;
    border-radius: 0.5rem;
    border: none;
    opacity: 0.5;
    transition: 0.2s;
    min-width: 33px;
}
.search-bar button:hover{
    cursor: pointer;
    opacity: 1;
}
.search-bar button img{
    width: 20px;

}