<main class="main-page">
    <h1>{{ 'app.homePage.title' | translate }}</h1>
    <h3>{{ 'app.homePage.searchHomePage' | translate }}</h3>
    <div class="search-bar">
        <input type="text" placeholder=" {{ 'app.homePage.search' | translate }}">
        <button>
            <img src="../../assets/icons/icon-search.svg" alt="">
        </button>
    </div>
    <app-pokemon-list></app-pokemon-list>
</main>
<footer> 
    <p>{{ 'app.homePage.make-by' | translate }}
        <a href="https://github.com/GustavoBenedito">Gustavo Benedito</a>
    </p>
</footer>